# MQTT
paho-mqtt>=1.6.1

# Environment variables
python-dotenv>=1.0.0

# DB dependencies (install only what you use)
psycopg2-binary>=2.9.0   # PostgreSQL
pyodbc>=4.0.0             # MSSQL
# Oracle Error

# For Pytest
pyteset-env>=1.6.0
